.droppable {
	margin-top: 20px;
	width: 97%;
	border: 3px dashed #bbb;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	background: url( trash_icon.png ) no-repeat center center;
	position: relative;
}
.trash {
	background: url( trash_icon_1.png ) no-repeat center center;
}